@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-text-base: 16, 18, 39;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(var(--color-text-base), 0.85);
  -webkit-font-smoothing: antialiased;
  background-color: #eee;
}

h1 {
  text-align: center;
  margin: 0.3rem 0 1rem;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem 1rem 2rem;
  width: 400px;
  max-width: 90%;
  margin: 1rem auto;
}

.sort{
  text-align: right;
}